{{!-- <div class="row">
   <div class="col-4"> --}}
    <a href="/cohorts/{{id}}">  
    <p>{{name}}</p>
    </a>
{{!-- </div> --}}
{{!-- <div class="col-6 m-5">
    <img src="/images/panda.png" alt="">
</div> 
</div> --}}
