{{!-- <div class="col-9" id="badges"> --}}
      <ul>
            <li>
               <a href='{{url}}' target="_blank"><img src='{{badge}}' alt='{{name}}'></a>    
            </li>
      </ul>
     
{{!-- </div> --}}