{{!-- This is a partial that generates the checkbox for each technology 
in the Technologies table.  The data that comes into this partial 
comes from the "tech-check-list.handlebars" file --}}

<div class="form-check ms-2">
    <input class="form-check-input" type="checkbox" value="{{this.id}}" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        <a href='{{this.url}}'><img src='{{this.badge}}' alt='{{this.name}}'></a>
    </label>

</div>