

{{#each techList as | tech | }}

<div class="form-check">
    
  <input class="form-check-input" type="checkbox" value="{{id}}" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    <a href='{{url}}'><img src='{{badge}}' alt='{{name}}'></a>
  </label>
  
</div>

{{/each}}