<div class="row">
   <div class="col-4">
        {{#each cohortList as |cohort|}}
        {{>cohort-list}}
        {{/each}}
    </div>
<div class="col-6 m-5">
    <img src="/images/panda.png" alt="">
</div> 
</div>
