<div class="container">

  <div class="row ">
    <div class="col-9" id="projectDesc">
      <h1>Project Description:</h1>
      {{description}}
  </div> 
    <div class="row">
    <div class="col-3" id="teamMembers">
      <h1>Team Members:</h1>
    {{#each TeamMembers as |member|}}
    {{>project-details-members}}
    {{/each}}
  </div>
  <div class="col-6" id="tech">
        <h1>Technology Used:</h1>
    {{#each technologies as |tech| }}
    {{>project-details-tech}}
    {{/each}}  
  </div>
  </div>
</div>