{{!-- This renders the check boxes for the create project stream where
the project manager adds the respective technology to be used on the project.
The "filterByTechCategory" (in the /helpers directory) is a helper function
that selects only the technology badge, id, and link for the technologies
in that respective category. This also uses a partial in file
"tech-list-partial.handlebars" to render the technology list for the
specific category --}}

<form id="checkbox-form">
<div class="col">

  {{!-- ROW 1 --}}
  <div class="row">
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class="border border-dark p-1 m-1 text-center">Node</h3>
      {{#each (filterByTechCategory techList "Node")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class=" border border-dark p-1 m-1 text-center">React</h3>
      {{#each (filterByTechCategory techList "React")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class="border border-dark p-1 m-1 text-center">JavaScript</h3>
      {{#each (filterByTechCategory techList "JavaScript")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
  </div>
  
  {{!-- ROW 2 --}}
  <div class="row">
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class="border border-dark p-1 m-1 text-center">Databases</h3>
      {{#each (filterByTechCategory techList "Databases")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class="border border-dark p-1 m-1 text-center">CSS</h3>
      {{#each (filterByTechCategory techList "CSS")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
    <div class="col p-2 m-3 border border-dark bg-dark text-white">
      <h3 class="border border-dark p-1 m-1 text-center">Server</h3>
      {{#each (filterByTechCategory techList "Server")}}
      {{> tech-list-partial}}
      {{/each}}
    </div>
  </div>
  
</div>
<div>
  <button type="submit" class="btn btn-dark  my-3 mt-5" id="add-tech-btn" >Submit Technology</button>
</div>

</form>

<script src="../public/JS/input-tech.js"> </script>